* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.box-1 {
  top: 3px;
  position: absolute;
  width: 100px;
  height: 100px;
  /* background-color: red; */
  background-image: linear-gradient(135deg, red, violet);
  border-radius: 100px;
}

.box-2 {
  left: 12px;
  position: absolute;
  width: 90px;
  height: 90px;
  background-color: grey;
  border-radius: 90px;
}
